<div class="row">
  <div class="col-md-12 text-center mb-8" data-aos="fade-up" data-aos-delay="200">
    <div class="left-sidebar shop-sidebar-wrap">
      <div class="sidebar-widget mt-40px">
        <div class="sidebar-widget-tag d-inline-block">
          <ul>
            <li><a href="/product/101">소파</a></li>
            <li><a href="/product/102">거실 테이블</a></li>
            <li><a href="/product/103">티비장</a></li>
            <li><a href="/product/104">의자</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right mb-4">
    <a href="/product/1" class="text-bold">거실가구 더보기 →</a>
  </div>

  <% for(var i = 0; i < 8; i++){ %>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="200">
    <!-- Single Prodect -->
    <div class="product">
      <div class="thumb">
        <a href="/product_detail" class="image">
          <img src="<%= spl_2[i].img_url %>" alt="Product" />
          <img class="hover-image" src="<%= spl_2[i].img_url %>" alt="Product" />
        </a>
        <div class="actions">
          <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
        </div>
      </div>
      <div class="content">
        <h5 class="title"><%= spl_2[i].seller_nm %></h5>
        <!-- <a href="#"></a> -->
        <h5 class="name"><%= spl_2[i].prd_nm %></h5>
        <span class="price">
          <span class="new"><%= spl_2[i].sales_price %>원</span>
        </span>
      </div>
    </div>
  </div>
  <% } %>

</div>
